.navbar_container {
  margin: 0 auto;
  display: flex;
}

.Logo {
  color: #000000;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  margin: 48px 400px 51px 344px;
}

/* .link {
  text-decoration: none;
} */

.NavBarOption {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #333333;
  margin-top: 48px;
  margin-bottom: 48px;
}

/*Our Course option 0 margin */

.StudentProjects {
  margin-left: 49px;
  margin-right: 41px;
}

/*About us option 0 margin */

.Contact {
  margin-left: 37px;
  margin-right: 97px;
}

.EnrolNowBtn {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
  margin: 40px 15px 39px 0;
  background-color: #8e9094;
  border-radius: 8px;
  padding: 10px 16px;
}

.StudentPortalBtn {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #333333;
  margin: 40px 15px 39px 0;
  background-color: #ffffff;
  border: 1px solid #8e9094;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 10px 16px;
}
