.navbar_container {
  margin: 0 auto;
  display: flex;
}

.Links {
  text-decoration: none;
}

.Logo {
  color: #000000;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  margin: 48px 359px 51px 344px; /*Right margin needs tweaking */
}

.NavBarOption {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #333333;
  margin-top: 48px;
  margin-bottom: 48px;
}

/*Our Course option 0 margin */

.StudentProjects {
  margin-left: 49px;
  margin-right: 41px;
}

/*About us option 0 margin */

.Contact {
  margin-left: 37px;
  margin-right: 97px;
}
