.CourseReviews,
.ReviewOpen,
.ReviewContent,
.ReviewContentClosed {
  display: flex;
}

.NavArrowLeft,
.NavArrowRight {
  width: 54.93px;
  height: 54.93px;
  cursor: pointer;
}

.NavArrowLeft {
  margin: 140px 34.04px 0 344px; /* Estimates */
}

.NavArrowRight {
  margin: 140px 0 0 34.04px; /* Estimates */
}

.ReviewOpen,
.ReviewClosed {
  background: #8e9094;
  border-radius: 6.84444px;
}

.ReviewOpenContainer,
.ReviewClosed {
  position: relative;
}

.ReviewOpen {
  width: 520.18px;
  height: 335.38px;
}

.PlaceholderReviewImg {
  width: 205.33px;
  height: 266.93px;
  background: #f1f1f1;
  border-radius: 6.84444px;
  margin: 34.4px 20.53px 34.22px 34.22px;
}

.ReviewHeading {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 20.5333px;
  line-height: 27px;
  color: #ffffff;
  margin: 34.22px 0 20.53px;
}

.ReviewBody,
.ReviewBodyOpen {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13.6889px;
  line-height: 150%;
  color: #ffffff;
}

.ReviewBodyOpen {
  width: 216px;
}

.ReviewBody {
  width: 172px;
}

.ReviewContent {
  position: absolute;
  bottom: 50px; /* Estimate */
  left: 0;
}

.PlaceholderParentPhoto {
  width: 34.22px;
  height: 34.22px;
  border-radius: 50%;
  background-color: #f1f1f1;
  margin-right: 13.69px;
}

.ParentName {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 13.6889px;
  line-height: 19px;
  color: #ffffff;
  margin-bottom: 1.17px;
}

.ParentIdentifier {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13.6889px;
  line-height: 150%;
  color: #ffffff;
}

.ReviewClosed {
  padding: 0 40.21px;
  margin-left: 13.69px;
}

.ReviewContentClosed {
  position: absolute;
  bottom: 50px; /* Estimate */
  left: 40.21px;
}
