.About2AlanContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 71px 0 28px 344px;
  }
  
  /* About2Alan Details */
  .About2AlanDetails {
    margin: 171px 0 28px 344px;
  }
  
  .About2AlanHeader {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 86px;
    color: #333333;
    margin-left: -570px;
    margin-top: -100px;
  }
  
  .About2AlanBrief {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #666666;
    margin: 28px 0 40px;
    margin-left: -570px;
  }

  
 
  /*Image */
  .About2AlanImg {
    width: 48px;
    height: 48px;
    padding: 150px 230px 201px 230px;
    background-color: #f1f1f1;
    margin: 30px 0 30px 0;
    z-index: -1;
  }
  