.CourseReviewsContainer {
  padding: 61.6px 0 83.34px;
}

.CourseReviewsHeading {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 41px;
  line-height: 55px;
  color: #333333;
  margin: 0 0 41.92px 432.98px;
}
