.PreviewStudentProjects {
  background-color: #f1f1f1;
  padding: 82px 0 73px;
}

.PreviewProjectsHeading {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 41px;
  line-height: 55px;
  color: #333333;
  margin-bottom: 20.53px;
  text-align: center;
}

.PreviewProjectsSubheading {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13.6889px;
  line-height: 150%;
  color: #666666;
  margin-bottom: 60.64px;
  text-align: center;
}

.PreviewGamesBtnContainer {
  padding: 16px 0;
  width: 180px;
  background: #8e9094;
  border-radius: 8px;
  text-align: center;
  margin-left: 868px;
}

.PreviewGamesBtn {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
}
