.BenefitsContainer {
  text-align: center;
}

.BenefitsHeading {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 41px;
  line-height: 55px;
  color: #333333;
}

.Benefits {
  display: flex;
  text-align: center;
  margin: 83px 441px 112px;
}

.Benefit2 {
  margin-left: 92px;
  margin-right: 92px;
}

.BenefitImgPlaceholder {
  width: 42.67px;
  height: 42.67px;
  background: #8e9094;
  border-radius: 6.82778px;
  margin: 0 118.63px 28.16px;
}

.BenefitSubheading {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 20.4833px;
  line-height: 27px;
  color: #333333;
  margin-bottom: 6.52px;
}

.BenefitDescription {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13.6556px;
  line-height: 150%;
  color: #666666;
}
